header {
	background-color: #ffffff;
	border-color: #cccccc;
	font: sans-serif;
	position: relative;
	margin: auto;
}

body {
	background-image: url(https://lh3.googleusercontent.com/5vseI_T97Pd7Q1iiolpcFOJQXsR6n4DG3Q2pfYsxgDGsaEQ2OKOwEYxaPdj2ukCi-ya7hJBwpw=w640-h400-e365);
}

h1, h2, h3, h4 {
	background-color: #4aaaa5;
}

h2 {
	
}

section, article, footer {
	border-style: solid;
	border-color: pink;
}

section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: yellow;
	border-color: red;
	grid-column-gap: 2em;
	grid-row-gap: 1em;

}

.portfoliogrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	grid-gap: 1em;
	border-color: pink;
}

.nested {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

aside {
	float: right;
	border-style: dotted;
	border-color: black;
	text-align: center;
	font-size: 30px;
}

div {
	background-color: #ffffff;
	border-color: #dddddd;
	border-style: dotted;
	border-color: black;
	margin: auto;
	padding: 15px;
	content: 10px;
}

p {
	color: #777777;
	font: sans-serif;
}

footer {
	background-color: #666666;
	text-align: center;
}


